@import "config"

configuration {
  show-icons: true;
}

textbox {
  vertical-align:   0.5;
  horizontal-align: 0.5;
}

listview {
  columns:       9;
  lines:         7;
  cycle:         true;
  dynamic:       true;
  layout:        vertical;
  flow:          horizontal;
  reverse:       false;
  fixed-height:  true;
  fixed-columns: true;
}

element {
  orientation: vertical;
}

element-icon {
  size: 64px;
}

element-text {
  enabled: false;
}

