@import "config"

textbox {
  vertical-align:   0.5;
  horizontal-align: 0.5;
}

listview {
  columns:       9;
  lines:         7;
  cycle:         true;
  dynamic:       true;
  layout:        vertical;
  flow:          horizontal;
  reverse:       false;
  fixed-height:  true;
  fixed-columns: true;
}

element {
  orientation: vertical;
}

element-text {
  vertical-align:   0.5;
  horizontal-align: 0.5;
  font:            "FiraCode Nerd Font 24";
}

